/*
////////////////////////////////////////////////////////////////////////////////
//
// @file        imcomp.css
// @description Image comparator user interface styles
// @author      Abhishek Dutta <adutta@robots.ox.ac.uk>
// @date        09 May 2018
//
////////////////////////////////////////////////////////////////////////////////
*/

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: medium;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  color: #000000;
}
* {
  box-sizing: border-box;
}
.display-none {
  display: none;
}
.display-inline-block {
  display: inline-block;
}
.imcomp_container {
  position:relative;
  display:grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-row-gap:0.5em;
  padding: 0.3em;
  background-color:#ffffff;
  height:90vh;
  max-height:90vh;
  width:99vw;
}
.imcomp_border {
  border: 1px solid #673AB7;
}
.top {
  display:block;
  text-align:center;
  margin:1rem 0;
}
.top button {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  margin:0.4rem 1rem;
  border-radius:0.6rem;
  width: 16rem;
}
.top button:focus {
    outline:none;
}
.top button:hover {
}
.top button:active {
    outline:none;
    color:#808080;
}

.instructions {
  display: flex;
  margin-top: 0.5rem;
  height: 2rem;
  text-align: center;
  border: 1px;
  width: 100%;
  border: 1px solid #673AB7;
}
.instruction_step1 {
  background-color: #cccccc;
  width: 35%;
  font-size: larger;
  cursor: pointer;
  padding-top: 4px;
}
.instruction_step2 {
  background-color: #cccccc;
  width: 35%;
  font-size: larger;
  cursor: pointer;
  padding-top: 4px;
}
.instruction_step3 {
  background-color: #cccccc;
  width: 35%;
  font-size: larger;
  cursor: pointer;
  padding-top: 4px;
}
.instruction_active {
  background-color: #673AB7;
  color: white;
}

.right_arrow {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
.right_arrow_inactive {
  border-left: 10px solid #cccccc;
}
.right_arrow_active {
  border-left: 10px solid #673AB7;
  /* background-color: #cccccc; */
}


.step1_button_color {
    background-color:#673AB7;
    color:white;
}
.step2_button_color {
    background-color:#FFC107;
    color:black;
}
.step3_button_color {
    background-color:#673AB7;
    color:black;
}
.stepn_button_deactivate {
    opacity:0.4 !important;
}

.stepn_button_activate {
    opacity:1.0 !important;
}

.panel_content {
  display:none;
}
.bottom {
  display:block;
  text-align:center;
  padding:0rem 1rem;
  font-size:0.8rem;
}

.banner {
  text-align: center;
  object-fit: cover;
}
.banner img {
  width: 100%;
}

/* top panel for branding and global settings */
.top_panel {
  display: flex;
  background-color: #673AB7;
  padding:0.4em 0.5em;
}
.top_panel * {
  vertical-align: middle;
}
.top_panel_texts {
  font-size: large;
}
.top_left_logo {
  font-size: 1.3em;
  display: inline;
  color:white;
}
.top_left_logo a {
  text-decoration: none;
  color:white;
}
.transform_div {
  color: white;
  font-size: large;
  padding-left: 4em;
  padding-top: .2rem;
}
.transform_div_checkbox {
  width: 20px;
  height: 20px;
}

.compare_panel {
  display:inline;
  margin-left: 1em;
}
.compare_panel button {
  border:none;
  border-radius:0.5em;
  background-color:white;
  color:#673AB7;
  width:8em;
  font-size:1.4em;
}

/* toolbar  icons on top */
.toolbar {
  display:inline !important;
  margin-top: 0.2em;
}
.toolbar div {
  display: inline;
}
.toolbar svg {
  fill: white;
  height: 1.6rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.toolbar svg:hover {
  fill:yellow;
  cursor:pointer;
}
.toolbar svg:active {
  fill:blue;
}

#trnasformation_select {
  font-size: large;
  width: 16rem;
  /* margin-left: 20em; */
  background-color: white;
  color: #673AB7;
  border-radius: 0.5em;
}

.top_left {
  width: 40%;
  height: 8rem;
  float: right;
}
/* .top_right {
  display:inline-block !important;
} */

#step1_panel {
  margin-top: 0.5rem;
  text-align: center;
  /* height: 30rem; */
  font-size: larger;
  color: #673AB7;
  border: 1px solid;
}
.step1_text {
  padding: 11rem;
  height: 100%;
}
#step1_panel button {
  border-radius: 20px;
  border-color: #673AB7;
  width: 8rem;
  height: 2.5rem;
  background-color: #673AB7;
  color: white;
  cursor: pointer;
  font-size: 22px;
}
.step1_panel_note {
  font-size: small;
}
#step3_panel .control_panel {
  display:none;
  /* display: flex; */
  padding-bottom:1rem;
}
#step3_panel .control_panel .space {
  margin-left:2rem;
}
.sample_images_div {
  height: 10rem;
  border: 1px solid #673AB7;
  display: flex;
  text-align: center;
  width: 100%;
  padding: 4px;
  overflow-y: hidden;
  overflow-x: auto;
}
.sample_images_div_row {
  display: table;
}
.demo_space {
  width: 16rem;
  overflowX: scroll;
}
.sample_images_set {
  cursor: pointer;
  display: table-cell;
  border-spacing: 5px;
}
.sample_images_set img {
  display:block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#results_tabs_panel {
  margin-top: 0.5rem;
}
.results_tab {
  padding:5px;
  display: inline-block;
  font-size: large;
  border-top: 3px solid #9E9E9E;
  border-right: 1px solid #9E9E9E;
  border-left: 1px solid #9E9E9E;
  cursor: pointer;
}
.results_tab.active {
  /* border-top: 3px solid #673AB7; */
  color: white;
  background-color: #673AB7;
}

#results_save_panel {
  width: 100%;
  height: 4rem;
  text-align: center;
  padding: 1.2rem;
}
#results_save_panel button {
  border-radius: 20px;
  background-color: #673AB7;
  border-color: #673AB7;
  color: white;
  width: 7rem;
  height: 2.5rem;
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
}

#files_panel {
  display: block;
  padding: 0.5rem;
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: auto;
  scroll: auto;
  /* border: 1px solid #cccccc; */
  border: 1px solid #673AB7;
}
#files_panel img {
  height: 80px;
  margin:0 1em;
}
.files_panel_header {
  width: 100%;
  height: 1.8rem;
  padding: 0.4rem;
  /* background-color: #9bd7ef; */
}

#step3_panel #content_selector {
  display: none;
}
#step3_panel #content_label {
  display: none;
}
#step3_panel #content_control {
  display: none;
}

#middle_panel {
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}
#middle_panel .row {
  display: table-row;
  margin: 0;
  padding: 0;
}
#middle_panel .cell {
  display: table-cell;
  margin: 0;
  padding: 0.4% 0;
  width: 48%;
  text-align: center;
  vertical-align: middle;
}

.tab_tools_panel {
  width: 100%;
  height: 3rem;
  padding: 10px;
  text-align: left;
  justify-content: center;
  border-top: 1px solid #673AB7;
  border-left: 1px solid #673AB7;
  border-right: 1px solid #673AB7;
}
/* .toggle_controls {
  text-align: left;
} */
.tab_tools_panel .toggle_controls select {
  width: 12rem;
  height: 1.5rem;
}

.img_label {
  font-size: medium;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img_label select {
  max-width: 80%; /* squash large filenames */
}

.centered_text {
  text-align: center;
}
.img_control {
  overflow: scroll;
}
.vertical_img_separator_panel {
  width: 0.8% !important;
  min-width: 0.5% !important;
  max-width: 1% !important;
}
.button_group {
  display: block;
}
.button_group_space1 {
  display: inline-block;
  width: 2%;
}
.img_upload_status {
  display: inline-block;
  font-size: large;
  cursor: default;
}

/* horizontal reference line */
#ref_line_container {
  padding: 0 !important;
  margin: 0 !important;
  border: 1px solid ##673AB7;
}
.horizontal_ref_line {
  z-index: 1000;
  padding: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid black;
  position: fixed;
  width: 96.5%;
  height: 4px;

}
.horizontal_ref_line:hover {
  cursor: pointer;
}

#message_panel {
    display:block;
    width:100%;
    position:fixed;
    bottom:0px;
    z-index:9999;
    text-align:center;
    margin: 10px;
}
#message_panel .content {
    display:inline;
    margin:auto;
    background-color:#000000;
    color:#ffff00;
    font-size:large;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:2rem;
    padding: 0.5rem 2rem;
}

#instructions_panel {
  text-align: center;
  display: block;
  width: 100%;
  font-size: larger;
  min-height: 6rem;
  padding: 0.5rem;
  border: solid 1px #673AB7;
}
#instructions_panel p {
  /* display: table-cell; */
  vertical-align: middle;
  text-align: center;
}

/* misc. */
.nobreak {
  white-space: nowrap;
}


/* base panel */
.contents_panel_header {
  width: 100%;
  height: 1.8rem;
  padding: 0.4rem;
  /* background-color: #9bd7ef; */
  margin-top: 0.5rem;
}

#left_content {
  text-align: right !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}
#left_content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#left_content_container { /* container for via or base image */
  text-align: left;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70vh;
  min-height: 66vh;
  border: 1px solid #673AB7;
}
#left_content_container img {
  height: auto;
}
#left_content_img_panel {
    position: relative;
}
#left_content_image_top_panel {
  position: absolute;
  z-index: 1002;
  width: 100%;
  height: 100%;
  top: 0;
}
#left_content_image_zoom_panel {
    position: absolute;
    overflow: hidden;
    border: 1px solid red;
}
#left_content_image_zoom {
    position: absolute;
    z-index: 1001;
}
#left_content_image {
    z-index: 1000;
    top: 0;
    height: 100%;
    /* width: auto; */
    width: 100%;
}
#left_content_image * {
  margin: auto;
}
#hor_slide_overlay_img {
  height: 100%;
  width: auto;
}

/* comp panel */
#right_content {
  text-align: left !important;
  padding: 0 !important;
  margin: 0 !important;
}
#right_content_container { /* container for via or comp image */
  position: relative;
  display: inline-block;
  width: 100%;
  height: 66vh;
  min-height: 66vh;
  border: 1px solid #673AB7;
}
#right_content_img_panel {
    position: relative;
}
#right_content_image {
    text-align: left;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}
#right_content_image_zoom_panel {
    position: absolute;
    overflow: hidden;
    border: 1px solid red;
}
#right_content_image_zoom {
    position: absolute;
    z-index: 1001;
}
#right_content_image_top_panel {
    position: absolute;
    z-index: 1002;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.zoom_items {
  display: flex;
}
.non_draggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* results display panel */
#result_display {
  width: 100%
  height: 200px;
}

/* Comparison settings */
#comparison_settings {
    display:table;
}
#comparison_settings .row {
    display:table-row;
}
#comparison_settings .cell {
    display:table-cell;
}
#comparison_settings .key {
    display:table-cell;
    font-weight:bold;
    border-bottom:1px solid #f2f2f2;
    padding: 0.6rem 1rem;
    width:15rem;
}
#comparison_settings .value {
    display:table-cell;
    font-weight:bold;
    border-bottom:1px solid #f2f2f2;
    padding: 0.6rem 1rem;
    font-weight:normal;
}

#comparison_settings .value input[type=text] {
}
#comparison_settings .config {
    font-family: mono;
}
#comparison_settings .alg_description_text {
    font-size: 0.8rem;
}

/* for sliding between two images */
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;

}
.img-comp-img img {
  display:block;
  vertical-align:middle;
}
.img-comp-hor-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  /* background-color: #673AB7; */
  background-color: white;
  border: 2px solid #673AB7;
  color: #673AB7;
  opacity: 1.0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  font-size: xx-large;

}
.img-comp-vert-slider {
  position: absolute;
  z-index:9;
  cursor: ns-resize;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid #673AB7;
  color: #673AB7;
  opacity: 1.0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  font-size: xx-large
}
.hor-slide-border {
  /* border-right: 2px solid #673AB7; */
  border-right: 2px solid #673AB7;
}
.vert-slide-border {
  border-bottom: 2px solid #673AB7;
}
.img-comp-container {
  position: relative;
}

/* fade between the two images */
.tab_tools_slider_bubble {
  position: absolute;
  bottom: 25px;
  width: 30px;
  height:20px;
  background-color: red;
  color: white;
  pointer-events: none;
  opacity: 0;
}
.tab_tools_slider label {
  vertical-align: super;
}
.range-control {
  position: absolute;
}
